<!doctype html>
{% load static %}
<html>
    <head>
        <title>Django</title>
        <meta charset="utf-8">    
        <link rel="stylesheet" href="{% static 'test.css' %}" />    
    </head>
    <body>
        <h1><a href="/">Django</a></h1>
        <h2>김한성(a059001)</h2>
        <ol>
          <li><a href="/mode1/">11111111111111</a></li>
          <li><a href="/mode2/">2222222222222</a></li>
          <li><a href="/mode3/">3333333333333</a></li>
          <li><a href="/mode4/">4444444444444</a></li>
          <li><a href="/mode5/">55555555555555</a></li>
        </ol>
        <h2>Django</h2>
        <p><a href="https://www.djangoproject.com/" target="_blank">Django</a>는 Python으로 작성된 오픈 소스 웹 프레임워크로, 빠르고 쉬운 웹 개발을 가능하게 합니다.</p>
    </body>
</html>
