<!doctype html>
{% load static %}
<link rel="stylesheet" href="{% static 'previous_scenario.css' %}" />
{% include "header.html" %}
</head>
<body>
  <div class="scenario_container">
    <span  class="title">시나리오 </span>
    <span  class="contents"> 한 마을에 A와 B가 살고 있다. 이 마을에는 가로등이 없어 A와 B는 불편함을 겪고 있다. 답답했던 두 사람은 마을 회의에서 가로등 설치에 대해 투표하기로 했다. 가로등 설치비는 개당 300만 원이고, ‘설치’에 투표한 사람만 비용을 부담하게 된다. 일단 가로등이 설치되면 비용을 내지 않은 사람도 그로 인한 이익을 누릴 수 있다.
      만약 A와 B가 모두 ‘설치’에 투표한다면 가로등은 2개가 설치되고, 그로부터 A와 B가 얻는 이익을 화폐 단위로 환산하면 각각 500만 원이다. 만약 A만 ‘설치’에 투표한다면 가로등은 1개만 설치되므로, 2개인 경우에 비해 불빛이 줄어들어 그로부터 얻는 이익은 각각 250만 원으로 줄어든다. 이때 A는 50만 원의 손해(=250만 원-300만 원)를 입게 되고, 비용을 부담하지 않은 B는 250만 원의 이익만 얻게 된다. 만약 모두 ‘미설치’에 투표할 경우 가로등은 설치되지 않는다.
      <br>
      <br>
      ① 마음: A가 ‘설치’에 투표한다면 B도 ‘설치’에 투표하는 것이 이득이라 생각해.<br>
      ② 바다: A와 B가 합리적으로 행동한다면 모두 ‘설치’에 투표하는게 좋아.<br>
      ③ 사랑: B가 ‘미설치’에 투표하고 A가 ‘설치’에 투표하면 A는 0을 얻게 돼.<br>
      ④ 아름: B가 무슨 선택을 하든지 A는 ‘미설치’에 투표하는 게 항상 이득이야.
      <br>
      <br>
      네 명의 사람이 서로 다른 전략을 생각하고 있다. 단, 틀린 전략도 있을 수 있다. 위의 전략을 참고해서 당신만의 전략을 답변으로 적어보자. 당신은 어떤 전략을 펼칠 것인가?</span>
  </div>
  <div class="ai_comment_box">
    <span  class="ai_comment_title">AI 답변</span>
  </div>
  <div class="comment_box_head">
    <span  class="comment_box_head_same">유사도순</span>
    <span  class="comment_box_head_like">좋아요순</span>
  </div>
  <div class="comment_box1">
    <span class="comment_box1_nickname">닉네임1</span>
    <span class="comment_box1_same">유사도: 70%</span>
    <div class="comment_box1_heartimg"></div>
    <div class="comment_box1_headline"></div>
    <div class="comment_box1_bullet1"></div>
    <span  class="comment_box1_recoment1">(닉네임) 정말 멋져요!</span>
    <div class="comment_box1_bullet2"></div>
    <span  class="comment_box1_recoment2">(닉네임) 이게 맞음?</span>
    <input type="text" class="comment_box1_input" name="comment" placeholder="댓글을 입력하세요">
      <button class="comment_box1_input_button">입력</div>
    </input>
  </div>
  <div class="comment_box2">
    <span  class="comment_box2_nickname">닉네임2</span>
    <span  class="comment_box2_same">유사도</span>
    <span  class="comment_box2_likenum">9999</span>
    <div class="comment_box2_likeimg"></div>
    <div class="comment_box2_recommemtimg"></div>
  </div>
</body>