<!doctype html>
{% load static %}
<link rel="stylesheet" href="{% static 'ranking.css' %}" />
{% include "header.html" %}
</head>
<body>
  <div id="ranking_head_container">
    <span  id="subject"># 금융</span>
    <span  id="title">RANKING</span>
  </div>
  <table>
    <thead>
    <tr>
        <th>등수</th>
        <th>닉네임</th>
        <th>학교</th>
        <th>스코어</th>
        <th>날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>player1</td>
        <td>00고등학교</td>
        <td>300점</td>
        <td>06.25.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>player2</td>
        <td>00고등학교</td>
        <td>261점</td>
        <td>06.24.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>player3</td>
        <td>00고등학교</td>
        <td>20점</td>
        <td>06.29.</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>

</body>