<!doctype html>
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'summary_anime.css' %}" />
  {% include "quiz_header.html" %}
</head>
<body>
  <div id="background">
    <div id="title">
      <h1>Chapter 1. 금융의 이해</h1>
    </div>
    <div id="movie_container">
      <img class="image" src="{% static 'char1.png' %}" alt="Charactor Image">
      <div class="screen">
        <button id="play"></button>
      </div>
      <img class="image" src="{% static 'talk.png' %}" alt="Talk Image">
    </div>
  </div>
</body>