
.e179_14 { 
	overflow:hidden;
}
.e179_14 { 
	background-color:rgba(224.000001847744, 244.0000006556511, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e290_60 { 
	box-shadow:4px 4px 2px rgba(0, 0, 0, 0.25);
	width:1920px;
	height:140px;
	position:absolute;
	left:0px;
	top:-9px;
}
.e290_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}
.e264_272 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1752px;
	height:592px;
	position:absolute;
	left:92px;
	top:383.0341796875px;
}
.e264_273 { 
	background-color:rgba(255, 255, 255, 1);
	width:1752px;
	height:592px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e179_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:911px;
	height:100px;
	position:absolute;
	left:500px;
	top:150px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e179_28 { 
	color:rgba(0, 0, 0, 0.2800000011920929);
	width:215px;
	height:71px;
	position:absolute;
	left:500px;
	top:150px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e267_31 { 
	background-color:rgba(97.00000181794167, 97.00000181794167, 97.00000181794167, 1);
	width:61px;
	height:62px;
	position:absolute;
	left:1487px;
	top:226px;
}
.e275_50 { 
	width:1752px;
	height:594.11865234375px;
	position:absolute;
	left:92px;
	top:382px;
}
.e265_35 { 
	width:1752px;
	height:594.11865234375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e265_34 { 
	width:1752px;
	height:594.11865234375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e265_33 { 
	width:1752px;
	height:594.11865234375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e179_17 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:50px;
	position:absolute;
	left:182px;
	top:2px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e264_277 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:117px;
	position:absolute;
	left:0px;
	top:2.0341796875px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e267_26 { 
	color:rgba(0, 0, 0, 1);
	width:676px;
	height:117px;
	position:absolute;
	left:519px;
	top:2.0341796875px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e267_27 { 
	color:rgba(0, 0, 0, 1);
	width:321px;
	height:117px;
	position:absolute;
	left:1431px;
	top:2.0341796875px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e267_29 { 
	color:rgba(0, 0, 0, 1);
	width:238px;
	height:117px;
	position:absolute;
	left:1195px;
	top:0.0341796875px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e265_29 { 
	transform: rotate(89.99999999999999deg);
	width:592.08447265625px;
	height:0px;
	position:absolute;
	left:519px;
	top:2.0341796875px;
}
.e265_29 { 
	border:3px solid rgba(135.00000715255737, 196.00000351667404, 255, 1);
}
.e264_276 { 
	transform: rotate(89.99999999999999deg);
	width:592.08447265625px;
	height:0px;
	position:absolute;
	left:182px;
	top:0.0341796875px;
}
.e264_276 { 
	border:3px solid rgba(135.00000715255737, 196.00000351667404, 255, 1);
}
.e265_30 { 
	transform: rotate(90deg);
	width:592.0033569335938px;
	height:0px;
	position:absolute;
	left:1195px;
	top:2.0341796875px;
}
.e265_30 { 
	border:3px solid rgba(135.00000715255737, 196.00000351667404, 255, 1);
}
.e265_31 { 
	transform: rotate(90.00000000000001deg);
	width:592.0684204101562px;
	height:0px;
	position:absolute;
	left:1430.5px;
	top:0px;
}
.e265_31 { 
	border:3px solid rgba(135.00000715255737, 196.00000351667404, 255, 1);
}
.e265_32 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:1752px;
	height:0px;
	position:absolute;
	left:0px;
	top:119.0342025756836px;
}
.e265_32 { 
	border:3px solid rgba(135.00000715255737, 196.00000351667404, 255, 1);
}
.e280_28 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:76px;
	position:absolute;
	left:1679px;
	top:43px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e280_29 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:76px;
	position:absolute;
	left:1452px;
	top:43px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e280_30 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:76px;
	position:absolute;
	left:968px;
	top:43px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e275_265 { 
	width:288px;
	height:63px;
	position:absolute;
	left:0px;
	top:39px;
	background-image:url(images/______1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e280_82 { 
	color:rgba(0, 0, 0, 1);
	width:163px;
	height:66px;
	position:absolute;
	left:91px;
	top:558px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e280_83 { 
	color:rgba(57.00000040233135, 167.00000524520874, 255, 1);
	width:179px;
	height:66px;
	position:absolute;
	left:348px;
	top:558px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e280_84 { 
	color:rgba(57.00000040233135, 167.00000524520874, 255, 1);
	width:676px;
	height:66px;
	position:absolute;
	left:611px;
	top:558px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e280_85 { 
	color:rgba(57.00000040233135, 167.00000524520874, 255, 1);
	width:179px;
	height:66px;
	position:absolute;
	left:1311px;
	top:558px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e280_86 { 
	color:rgba(57.00000040233135, 167.00000524520874, 255, 1);
	width:179px;
	height:66px;
	position:absolute;
	left:1589px;
	top:558px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e296_670 { 
	color:rgba(0, 0, 0, 1);
	width:163px;
	height:66px;
	position:absolute;
	left:91px;
	top:662px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e296_671 { 
	color:rgba(0, 0, 0, 1);
	width:179px;
	height:66px;
	position:absolute;
	left:348px;
	top:662px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e296_672 { 
	color:rgba(0, 0, 0, 1);
	width:676px;
	height:66px;
	position:absolute;
	left:611px;
	top:662px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e296_673 { 
	color:rgba(0, 0, 0, 1);
	width:179px;
	height:66px;
	position:absolute;
	left:1311px;
	top:662px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e296_674 { 
	color:rgba(0, 0, 0, 1);
	width:179px;
	height:66px;
	position:absolute;
	left:1589px;
	top:662px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
